<% layout('layouts/boilerplate') %> 

    <div id="map"></div>

    <h1 class="text-center mt-5 mb-4">All Campgrounds</h1>

        <% for (let campground of campgrounds) { %> 
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(campground.images.length) { %> 
                        <img src="<%=campground.images[0].url%>" alt="" class="img-fluid">
                        <% } else {%> 
                            <img src="https://res.cloudinary.com/admiralstarks/image/upload/v1612575689/YelpCamp/genericPics/NoImage_pko3mb.png" alt="" class="img-fluid">
                            <% } %> 
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="car-title"><%= campground.title %> </h5>
                            <p class="card-text"><%=campground.description %> </p>
                            <p class="card-text">
                                <small class="text-muted"><%=campground.location %></small>
                            </p>
                            <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View <%= campground.title %> </a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>  

        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
            const campgrounds = {features:<%- JSON.stringify(campgrounds) %>}
        </script>
        

        <script src="/javascript/clusterMap.js"></script>
